/* Insertion de l'écriture dans le body du site *//* Gestion de la taille du bloc général */
body
{
        margin: 0%;
        font-family: "Raleway";
}


/*Alignement logo + bouton s'inscrire */
#menu
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8%;
    margin-top: 5%;
    
}

/*Style bouton s'inscrire */
#menu a
{
    font-family:'Raleway', sans-serif;
    font-size: 1.5em;
    text-decoration:solid;
    color:#0065FC;
    font-weight: 800;
    padding-right: 10%;
}

/*Gérer le logo */
.reservia
{
    height: 49px;
    padding-left: 20px;
}

/*Que t'on menu soit en ligne */
nav ul
{
    font-size: 2.5em;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding-left: 0px;

    
}  

/*Créer des espace entre les sections du menu  */
nav li
{
    border-bottom: 5px solid #F2F2F2;
    text-align: center;
    width: 50%;
    padding: 10px 0px 30px 0px ;
    
}

nav li:hover
{
    border-bottom: 5px solid #307ff5;
    padding: 10px 0px 30px 0px ;
}

.title-blue
{
    color: #307ff5;
    font-size: 0.5em;
}
.blue-border
{
    border-bottom: 5px solid  #307ff5;
}
/*Gestion du design des liens des menus  */
nav a 
{
    color: black;
    text-decoration: none;
    font-size: 0.5em;
}

nav a:hover
{
    color:#307ff5;
}

/*Voir comment faire les carrés et les lignes en dessous des menus.  */

/*Définir marge pour la partie texte et barre de recherche.  */

#holidays
{
    margin: 6%;
    align-items: center;
}

/*Mettre en page texte.  */
h1
{
text-align: justify;
font-size: 1.3em;
font-weight: 800;
text-decoration: none;
padding-right: 3%;
}

#holidays p 
{
    font-size: 1em;
}
/*Mettre le fond girs à l'icone + design général conentenant.  */
#searchBox
{
    background-color:#F2F2F2;
    display: flex;
    border-radius: 30px;
    height: 53px;
    align-items: center;
    width: 62%;
    padding-left: 5%;
    margin-top: 10%;
    position: relative;
}

/*Icone modifier couleur + taille + ajouter marge gauche */

/*barre de recherche taille */
.search-text
{
    height: 39px;
    width: 207px;
    border: 3px solid #F2F2F2;
    position: relative;
    padding-top: 8px;
    margin-left: 19%;
}

/*Style de l'écriture dans la barre */
::placeholder
{
    color: black;
    font-size: 1em;
    font-weight: 800;
    text-align: left;
    padding-left: 30px;
    vertical-align: middle;
    font-family: 'Raleway';
   
}
/*Bouton recherche */
.search_btn
{
   color: white;
   float: right;
   height: 52px;
   width: 55px;
   border-radius: 30%;    
   background: #0065fc;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 150%;
   text-decoration: none;
   position: absolute;
   top: 0px;
   left: 120%;
   
}

#search
{
    display: none;
}

/*Icone de géolocalisation */
#location
{
   font-size: 150%;
   display: flex;
   align-items: center;
   position: absolute;
   left: 10%;
}

/*marge pour la section filtre */
#filters
{
    margin-left: 7%;
    align-items: center;
}

#filters h2
{
    margin-bottom: 0%;
    font-weight: 800;
    font-size: 1.5em;
}
/*Aligner sur tel filtre eco et famille */
.filtereco
{
    display: flex;
    flex-wrap: wrap;
}

/*Créer bouton pour le filtre economique */
.designFilter
{
    border: 3px solid #d9d9d9;
    border-radius: 100px;
    height: 45px;
    display: flex;
    position: relative;
    margin-top: 5%;
    padding-right: 2%;
    margin-right: 4%;   
    
}

.designFilter:hover
{
    background-color: #DEEBFF;
}

/*Design des icones des filtres */
.design-icone
{
    color:#0065FC;
    background-color: #DEEBFF ;
    font-size: 1.5em;
    height: 52px;
    width: 54px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -4px;
    left: -4px;
}


/*Design textes des filtres */

#filters a
{
    font-size: 1em;
    font-weight: 800;
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 64px;
}

/*Mettre le aside devant l'article */
.accomodation
{
    display: flex;
    flex-direction: column-reverse;
}

/*Mettre info et texte cote à cote */
.info
{
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   margin-top: 10px;
   }

/*Mettre info et texte cote à cote */
.info p
{
   display: flex;
   font-size: 1em;
   padding-left: 42px;   
}
#famille
{
    padding-right: 5%;
}

/*Icone style */
#design-icone-info
{
color: #0065FC;
font-size: 1em;
border: 2px solid #ebe9e9 ;
border-radius: 50%;
width: 22px;
height: 21px;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
left: 2%;
top: 20%;
margin-right: 10%;

}

.accommodation
{
    display: flex;
    flex-direction: column-reverse;
}

/*gestion du aside */
aside
{
    margin:0px;
    background-color:#F2F2F2 ;
    position: relative;
    padding-bottom: 3%;
}


/*mettre + populaire et icone à côté */
.title
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    position: relative;
}

/*Gestion de l'icone "growth" */
.growth
{
    font-size: 220%;
    position: absolute;
    left: 90%;
    top: 21%;
}

/*Définition des marges dans mon aside */
#hebpop
{
    margin-left: 7%;
    margin-right: 8%;
    margin-top: 7%;
}

/*Création de mes cases hébergement */
.famous
{
    border-radius: 20px;
    box-shadow: 2px -1px 7px #e0e0e0;
    position: relative;
    margin-bottom: 10%;
    overflow: hidden;
    border: 5px solid white;   
     
}

/*Mettre les images à côtés des textes */
figure
{
    display: flex;
    height: 120px; 
}

.back
{
    width: 60%;
    height: 200px;
    position: absolute; 
}

.img7
{
    background-image: url(images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: -15%;
    left: -3%;
}

.img8
{
    background-image: url(images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: -15%;
    left: -3%;
}

.img9
{
    background-image: url(images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: -15%;
    left: -3%;
}

/*Redimensionner et repositionner image matin */
.morning
{
    position: absolute;
    top: 0px;
    left: -2px;
    height: 105%;
}
/*Redimensionner et repositionner image hotel eau */
.watter
{
    position: absolute;
    top: 0px;
    left: -30px;
    border-radius: 50px;
    height: 110%; 
}

/*Redimensionner et repositionner image hotel bleu et blanc */
.white
{
    position: absolute;
    top: -54%;
    left: 0%;
    width: 59%;

}

.stars-white
{
    padding-bottom: 0;
    color:#dadada ;
    position: absolute;
    top: 77.5%;
    left: 36.5%;
}

/*Mets en place le carré blanc */
figcaption
{
    background-color: white;
    position: absolute;
    left: 49%;
    height: 100%;
    width:52%;
    top: 0%;
}

/*Mettre en forme le texte titre  */
figcaption h3
{
    font-size: 1em;
    color: black;
    padding-left: 11px;
    display: flex;
    flex-wrap: wrap;
}

/*Mettre en forme les textes p  */
figcaption p
{
    color: black;
    font-size: 0.8em;
    padding-left: 12px;

}

/*Mettre en forme les icones  */
.full-stars
{
    color: #0065FC ;
    font-size: 1em;
    padding: 24px 0 0 12px;
    display: flex;
}

.gray-stars
{
    color: #dadada;
}
.grey-stars
{
    color: #dadada;
    font-size: 1em;
    padding: 50px 0 0 40px;
    display: flex;
    position: absolute;
    top: 64.3%;
    left: 25%;
}

/*Mettre en forme le texte affichez plus */

h3
{
    font-size: 1em;
    padding-left: 10%;
    font-weight: 800;
}

/*Mettre les marges dans mon article */
article
{
    margin-left: 7%;
    margin-right: 8%;
    margin-top: 7%; 
}

/*Mettre en place la box */
.hotel
{
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    height: 200px;
    margin-bottom: 10%;
    box-shadow: 2px -1px 7px #e0e0e0;
    position: relative;
    overflow: hidden;
    border: 5px solid white;
}

/*Dimensionner la div pour insérer un background */

.background
{
    width: 100%;
    height: 200px;
    position: absolute;

}

/*Mettre l'image en background */
.img1
{
    background-image: url(images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: -15%;

}

.img2
{
    background-image: url(images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: -15%;
}

.img3
{
    background-image: url(images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: -15%;
}

.img4
{
    background-image: url(images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: -15%;
}

.img5
{
    background-image: url(images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: -15%;
}

.img6
{
    background-image: url(images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: -15%;
}

/*mettre titre et texte en dessous */
.hebergement-marseille
{
    position: absolute;
    top: 50px;
}

.description
{
    background-color:white;
    width: 101%;
    height: 46%;
    position: absolute;
    top: 60%;
    left: -1%;
}

/*Mise en place du titre hébergement à Marseille */
h2
{
    font-size: 1.5em;
    margin-bottom: 10%;
}

/*Mise en place du titre dans chaque box */
.description h3
{
  font-size: 1em;
  color: black;
  position: absolute;
  top: -7%;
  left: 3.5%;
}

/*Mise en place du titre dans chaque box */
.description p 
{
  font-size: 0.8em;
  color: black;
  position: absolute;
  top: 24%;
  left: 5%;
}

/*Mise en place des étoiles bleues */
.full-stars-article
{
    font-size: 0.8em;
    text-decoration: none;
    position: absolute;
    top: 68%;
    left: 4%;
    color:#0065FC ;
    display: flex;
}

/*Mise en place des étoiles grises */
.stars-article
{
    font-size: 2em;
    text-decoration: none;
    position: absolute;
    top: 60%;
    left: 27.5%;
    color:#dadada
}

.stars-article-mer
{
    font-size: 2em;
    text-decoration: none;
    position: absolute;
    top: 60%;
    left: 23%;
    color:#dadada
}
/*Afficher plus dans l'article */
article h3
{
    font-size: 1em;
    padding-left: 1%;
    font-weight: 800;
}

/*Marge de la section vieux port */
.activityMarseille
{
margin: 7%;
}

/*Création des cases pour les différentes activités */
.old
{
    height: 193px;
    position: relative;
    border-radius: 20px;
    box-shadow: 2px 1px 7px #e0e0e0;
    margin: 5% 2% 6% 3%;
    overflow: hidden;
}

.small
{
    height: 160px;
}

/*La case pour le titre */
.title-old
{
    background-color:white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 70%;
    left: 0%;

}
 
/*Mise en place du design du tite */
.old h3
{
 font-size: 1em;
 width: 100%;
 color: black;
 margin-top: 5%;
}
.title-calenques h3
{
    font-size: 3em;
    width: 100%;
    color: black;
    margin-top: 1%;

}

.backimg
{
    width: 100%;
    height: 200px;
} 

.img10
{
    background-image: url(images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0%; 
}

.img11
{
    background-image: url(images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: -15%; 
}

.img12
{
    background-image: url(images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: -15%; 
}

.img13
{
    background-image: url(images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0%; 
}

.img14
{
    background-image: url(images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
}

.img15
{
    background-image: url(images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: -15%; 
}

/*Mettre les images */
.imgold
{
    width: 100%;
    margin-top: -2%;
    position: absolute;
    top: -10%;
    left: 0%;
}

.fortPomegues
{
    width: 120%;
    height: 250%;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    margin-top: -2%;
    position: absolute;
    top: -80%;
    left: 0%;
}
.ilesFrioul
{
    width: 100%;
    margin-top: -2%;
    position: absolute;
    top: -9%;
    left: 0%;  
}
.eglise
{
    width: 100%;
    margin-top: -2%;
    position: absolute;
    top: 0%;
    left: 0%; 
}

.parcCalenques
{
    height: 114%;
    margin-top: -2%;
    position: absolute;
    top: -17%;
    left: 0%;
}

.parc
{
    width: 100%;
    margin-top: -2%;
    position: absolute;
    top: -12%;
    left: 0%;
}
/*Mettre couleur de fonds dans le footer */
footer
{
    background-color: #F2F2F2;
    height: 120%;
    width: 100%;
}

.about
{
    margin-left: 7%;
    padding-top: 1%;
    display: flex;
    flex-direction: column; 
}

.about h4
{
    font-size: 1.5em;
    margin-top: 6%;
    margin-bottom: 3%;
}

.about a
{
    font-size: 1em;
    color: black;
    text-decoration: none;
    margin-bottom: 5%;
}

.place
{
    margin-top: 7%;
    margin-left: 7%;
    display: flex;
    flex-direction: column;
}

.place h4
{
    font-size: 1.5em;
    margin-top: -6%;
    margin-bottom: 3%;
}

.place a
{
    font-size: 1em;
    color: black;
    text-decoration: none;
    margin-bottom: 5%;

}

/*Adapter le site pour les ordinateurs */
@media all and (min-width:1100px)
{
   
    #menu
    {
        margin-top: 0%;
        padding: 54px 40px 30px 30px;
    }

    .reservia
    {
        height: 8%;
        width: 8%;
        padding-left: 3%;
    }

    #menu a
    {
        font-size: 1.3em;
        padding: 0%;
    }

    nav ul
    {
    font-size: 2.3em;
    position: absolute;
    top: -2px;
    right: 200px;
    margin: 0%;
    flex-wrap: inherit; 
    }

    nav li
    {
       border-bottom: 0px;
       text-align: center;
       width: 100%;
       padding: 49.5px 35px 0px 35px;
       border-top: 5px solid white;
    }

    nav li:hover 
    {
       
       border-top: 5px solid #307ff5;
       padding: 49.5px 35px 0px 35px;
       border-bottom: 0px;
    }

    nav a:hover
    {
        color:#307ff5;
    }

    #holidays
    {
        margin-left: 3%;
        margin-top: -7%;
        
    }

    h1
    {
        font-size: 1.5em;
        
    }

    #holidays p
    
    {
        margin-top: -1%;
        
    }

    #searchBox
    {
        margin-top: 2%;
        height: 59px;
        width: 23%;
        
    }

    .search-text 
    {
        height: 44px;
        width: 287px;
        border: 3px solid #F2F2F2;
        position: relative;
        padding-top: 8px;
        margin-left: 0%;
        font-size: 1em;
    }

    #location 
    {
        font-size: 180%;
        height: 55px;
        left: 7%;

    }

    .search_btn 
    {
        height: 59px;
        width: 159px;
        left: 92%;
        border-bottom-right-radius: 9px ;
        border-top-right-radius: 9px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        
    }

    ::placeholder
    {
        font-size: 1.2em;
        margin-left: 0% ;

    }

    #search
    {
        display: inline;
        font-size: 0.8em;
        
    }

    .glass
    {
        display: none !important;
        
    }

    #filters
    {
        margin-left: 4%;
        margin-top:-8%;
        
    }

    .filtereco
    {
        margin-top: -10%;
        margin-left: 8%;
        display: flex;
        flex-wrap: initial;
        
    }

    #filters h2
    {
     
        font-size: 1.5em;
        position: relative;
        margin-top: 12%;
    }

    .designFilter
    {
    margin-right: 2%;
    margin-top: 8%;
    height: 44px;  
    }

    .design-icone
    {
        font-size: 1.5em;
        height: 49px;
        width: 50px;
        top: -3px;
    }

    #filters a 
    {
        font-size: 1em;
        padding-left: 75px;
    }

    #design-icone-info 
    
    {
        font-size: 1em;
        width: 29px;
        height: 28px;
        left: 0%;
        top: 28%;

    }

    .info
    {
        padding-left: 4%;
        justify-content: left;
        
    }

    .info p 
    {
        font-size: 1em;
        padding: 7px 10px 0 0px;
    }

    .accommodation
    {
        display: flex;
        flex-direction: row;
        
    }

    article h2
    {
        font-size: 1.5em;
        margin-bottom: 2%;
        width: 100%;
        padding-left: 2%;
        padding-top: 3%;
    }

    article
     {
        width: 80%;
        margin-left: 2%;
        margin-right: 4%;
        background-color:#F2F2F2;
        border-radius: 20px;
        padding-left: 2%;
        margin-top: 0%;
        height: 696px;
        
    }

    aside
        
    {

    width: 35%;
    border-radius: 20px;
    margin-right: 4%;
    height: 649px;
    

    }

    aside h2
    {

        font-size: 1.5em;
        margin-bottom: 7%;

    }

    .growth 
    {
        font-size: 190%;
        left: 88%;
        
    }
        
    #heb-mars
    {
        display: flex;
        flex-wrap: wrap;
        
    }

    .hotel 
    {

        border-radius: 30px;
        display: flex;
        flex-direction: row;
        height: 203px;
        width: 29%;
        margin-right: 2%;
        border: 5px solid white;
        margin-bottom: 5%;

    }

    h4
    {
        margin-top: 0%;
        font-size: 1.2em;
        padding-left: 15px;
    }

    .background
    {
    height: 165px;
    }


    .cannebiere 
        {

            position: absolute;
            width: 101%;
            border-radius: 30px;
            padding: 6px 2px 0 6px;
            left: -3%;

        }
    
        .harbor
        {

            position: absolute;
            width: 96%;
            top: -11%;

        }
        
        .seagulls
        {

            width: 101%; 

        }
        
        .wed
        {

            width: 101%;
            top:-25%; 

        }

        .basket
        {
            width: 101%;
        }

        .Amina 
        {
            width: 101%;
            top:-52%;  
        }

        .description h3
        {
            font-size: 1em;
            left: 3.5%;
            top: 25%;
        }

        
    .description p
        {

            font-size: 0.8em;
            top: 22%;
            left: -15.5%;
            top: 23%;
            padding-left: 21%;

        }
            

        .full-stars-article
        {

            font-size: 0.8em;
            top: 61%;
            left: 4%;

        }
        
        .famous
        {

            height: 150px;
            border: 6px solid white;
            margin-bottom: 11%;
            border-radius: 25px;

        }

        .morning 
        {

            border-radius: 20px;
            width: 54%;
        }

        .watter
        {
            left: -55px;
            border-radius: 0%;
            width: 80%;
        }

        .white
        {
            left: 0%;
            border-radius: 0px;
            height: 123%;
            width: 56%;
            top: -22%;
        }

        figcaption h3
        {
            font-size: 1em;
            padding-left: 16px;
        }

        figcaption 
        {
            width: 51%;
            top: 0%;
            border-bottom-right-radius: 0%;
            border-bottom-left-radius: 0%;

        }

        figcaption p
        {
            font-size: 0.8em;
            padding-left: 16px;
        }

        .full-stars 
        {
            font-size: 1em;
            padding: 15px 0 0 14px;

        } 

        h3 
         {
            font-size: 1.5em;
            margin-top: 12%;
            padding-left: 10%;

         } 
         
         article h3 
         {
            font-size: 1.5em;
            margin-left: 1%;
            margin-top: -5%;
            margin-bottom: 4%;
         }

        .activityMarseille
            {
            display: flex;
            flex-wrap: wrap;
            margin: 1% 1% 1% 1%;
            
            
            }

            .activityMarseille h2 
            {
                width: 100%;
                font-size: 2em;
                margin-bottom: 3%;
                padding-left: 3%;
            }

            figure
            {
                width : 244px;
            }

            .big
            {
                height: 424px;
                width: 22%;
            }

            .backimg
            {
                position: absolute;
                height: 409px;

            }

            .img11
            {
                top: -44%; 
            }

            .img12
            {
                top: 0%;
                height: 103%; 
            }

            .img15
            {
                top: -56%; 
            }

            .old
            {
                margin-right: -4%;
                display: flex;
                flex-wrap: wrap;
                margin-top: 0%;
                margin-bottom: 16%;
            }

            .stong
            {
                height: 220px;
                margin-bottom: 15%;
            }

            .title-stong
            {
                top: 79%;
            }

            .medium
            {
                height: 182px;
            }
            .big-title
            {
                height: 20%;
                top:88%;
            }

            .imgold
            {
                height: 90%;
                top: 0%;
            }
            
            .activity
            {
                margin-right: 1%;
                margin-left: 6%;
                width: 20%;

            }

            footer
            {
                display: flex;
                flex-wrap: wrap;
                margin-top: -10%;
            }

            .about
            {
                margin: 1.5% 0% 3% 5%;

            }

            .about h4 
            {
                font-size: 1.3em;
                margin-bottom: 12%;
                padding-left: 0%;
                margin-top: 11%;

            }
            .about a 
            {
                font-size: 1em;
                margin-bottom: 5%;

            }

            .place 
            {
                margin: 4% 4% 4% 18%;

            }

            .help h4 
            {
                font-size: 1.3em;
                margin-top: 7%;
                margin-bottom: 15%;
                padding-left: 0%;
            }

            .place h4 
            {
                font-size: 1.3em;
                margin-top: 1%;
                margin-bottom: 12%;
                padding-left: 0%;
            }

            .place a
            {
                font-size: 1em;
                margin-bottom: 5%;

            }
            
            .help 
            {
                margin: 4% 4% 4% 13%;
            }

            .help a 
            {
                margin-bottom: 5%;
                margin-top: 3%;
            }

           
}

/*Adapter le site pour les ordinateurs */
@media all and (min-width:500px) and (max-width:1099px)
{
   nav li:hover
   {
       padding: 10px 0px 30px 0px;
   }

    #searchBox
    {
        width: 304px;
        margin-top: 2%;
    }

    .search_btn
    {
        left: 84%;
    }

    .info
    {
        margin-top: 25px;
    }

    #design-icone-info 
    {
        top: 23%;
    }

    .info p 
    {
    position: absolute;
    top: 0%;
    left: 2%;
    margin-top: 0.5%;
    }

    #heb-mars
    {
        display: flex;
        flex-wrap: wrap;
    }

    h2
    {
        width: 100%;
        font-size: 2em;
    }

    .growth
    {
        top: 19%;
    }

    .hotel
    {
        width: 239px;
        margin-right: 4%;
    }

    .filtereco
    {
        margin-top: -6%;
        margin-left: 0%;
    }

    #filters h2 
    {
        margin-bottom: 3%;
        margin-top: -3%;
    }

    #hebpop
    {
        display: flex;
        flex-wrap: wrap;
    }

    .title
    {
        width: 100%;
    }

    .famous
    {
        width: 100%;
        height: 200px;
        margin-right: 3%;
        margin-bottom: 5%;
    }

    .img7
    {
        top: 0%;
    }

    .img8
    {
        top: 0%;
    }

    .img9
    {
        top: 0%;
    }

    figcaption h3
    {
        font-size: 1.5em;
        padding-left: 10px;
    }

    figcaption p 
    {
        padding-left: 10px;
        font-size: 1em
    }

    .full-stars
    {
        padding: 22px 0 0 10px;
        font-size: 1.2em;
    }

    h3 
    {
        font-size: 1.5em;
    }

    .old
    {
        width: 70%;
        margin-left: 10%;
    }

    footer
    {
        display: flex;
        justify-content: space-around;
    }

    .about
    {
        margin-bottom: 5%;
        margin-top: -7%;
    }

    .place h4
    {
        margin-bottom: 10%;
    }
 
    
}